@import 'normalize';
@import 'css3';
@import 'utils';

body {
	font-family: 'Lora', serif;
	color: #5b5b5b;
	background-color: #f6f6f6;
	-webkit-font-smoothing: antialiased;
}


/*
* Header
*/

header {
	background-color: #ececec;
	border-bottom: 1px solid #dedede;
}

header #logo {
	display: inline-block;
	padding: 5px 10px 2px;
	float: left;
	border-right: 1px dotted #c9c9c9;
	@include box-sizing(border-box);
}

header #logo img {
	width: pxToRem(22);
}


header nav {
	font-size: pxToRem(12);
	line-height: pxToRem(40);
	text-transform: uppercase;
	margin-left: pxToRem(42);
	@include box-sizing(border-box);

	// switch to smaller font under 280px wide
	@media only screen and (max-width: pxToEm(280)) {
		font-size: pxToRem(10);
	}
}

header nav a {
	width: 33%;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	color: #5b5b5b;

	@include box-sizing(border-box);

	& + a {
		border-left: 1px dotted #c9c9c9;
	}  

	&.selected,
	&:hover,
	&:active {
		background: #fff;
	}

	// switch nav links to stack vertically
	@media only screen and (max-width: pxToEm(220)) {
		display: block;
		width: auto;
		& + a {
			border-top: 1px dotted #c9c9c9;
		}  
	}
}

/*
 * Footer
 */
footer {
 	@media (-webkit-min-device-pixel-ratio: 1), (min-resolution: 96dpi), (min-resolution: 1dppx) { 
			background: #ececec url('../img/footer-anchor@1x.png') no-repeat center center;
	}
 	/*1px = 96dpi*/
 	@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) { 
			background: #ececec url('../img/footer-anchor@2x.png') no-repeat center center;
 			background-size: pxToRem(169) pxToRem(25);
	}

 	border-top: 1px solid #e1e1e1;
 	height: 60px;
}


/*
* Typo
*/
h1,h2,h3,h4, h5 {
	-webkit-font-smoothing: antialiased; // makes bold more like in PS
}
h1 {
	text-align: center;
	font-size: pxToRem(25);
	font-weight: bold;
}

#projects h1 {
	font-size: pxToRem(12);
}

#project-details {
	h1 {
		font-size: pxToRem(60);
		letter-spacing: -0.05em;
	}
	h2 {
		font-size: pxToRem(31);
		margin-bottom: pxToRem(15);
		letter-spacing: -0.05em;
	}
}

#main {
	height: 100%;
	width: 100%;
	@include box-sizing(border-box);
	@include clearfix;

	section {
		background: #ececec;
	}
}



/*
* Projects list
*/

#projects {
	h1 {
		color: #908f8f;
		background: #fff;
		margin-bottom: 30px;
		font-weight: normal;
		padding: 21px 20px;
		@include box-shadow("#fbfbfb 0 1px 0px, #dedede 0 2px 0px");
	}
	#main {
		border-top: 1px solid white;
	}
}

.project-list {
	margin: 0 pxToRem(10);
	text-align: center;
	list-style: none;

	li {
		margin: pxToRem(10);
	}

	// hide the project text - only show image
	span {
	  position: absolute !important;
	  clip: rect(1px 1px 1px 1px); // IE6, IE7
	  clip: rect(1px, 1px, 1px, 1px);
	}

	img {
		max-width: 100%;
	}
	
	@media only screen and (min-width: pxToEm(620)) {
		width: pxToRem(600);
		margin: 0 auto;
		li {
			float: left;
		}
	}

	@media only screen and (min-width: pxToEm(920)) {
		width: pxToRem(900);
	} 
}


/*
* Projects details
*/

$biggerThanMobileBreakpoint: pxToEm(568);
$gridBreakpoint: pxToEm(768);
$maxBreakpoint: pxToEm(960);


#project-details {
	
	nav.projects-nav {
		background: #fff;
		h1 {
			color: #908f8f;
			font-size: pxToRem(14);
		}
		.wrapper {
			padding: 10px 0;
			@media only screen and (min-width: $biggerThanMobileBreakpoint) {
				padding: pxToRem(21) 0;
			}
		}
	}

	section {
		&:nth-child(odd) {
			background: none;
		}
	}

	.project-hero {
		background: #efefef;
		border-top: 1px solid #d8d8d8;
		text-align: center;
		padding: pxToRem(80) 0;
		@media only screen and (min-width: $gridBreakpoint) {
			padding: pxToRem(138) 0;
		}

		img {
			max-width: 100%;
		}

		@include box-shadow("0 0 106px rgba(0, 0, 0, .07) inset");
		@include radial-gradient("center, circle contain, rgba(255,255,255,.5) 0%,rgba(255,255,255,0) 100%");
		//circular gradient
	}

	.project-intro {
		h1 {
			text-align: left;
			margin-top: pxToRem(40);
			margin-bottom: pxToRem(22);
		}
		p {
			font-size: pxToRem(22);
		}
		img {
			margin-top: pxToRem(70);
			margin-bottom: pxToRem(30);;
		}
	}

	.list-item {
		min-height: pxToRem(400);

		/* Skeleton style overrides */
		.columns {
			@include box-sizing(border-box);
		}

		.item-title {
			margin-top: pxToRem(40);
			@media only screen and (min-width: $gridBreakpoint) {
				margin-top: pxToRem(120);
			}
			@media only screen and (min-width: $maxBreakpoint) {
				margin-top: pxToRem(150);
			}
			margin-bottom: 0;
		}
		.item-image {
			margin: 0;
		}
		.item-text {
			margin-bottom: pxToRem(50);
		}
		&:nth-child(even) {
			@media only screen and (min-width: $gridBreakpoint) {
				.item-title,
				.item-text {
					padding-left: pxToRem(25);
				}
			}
			.item-image {
				float: right;
			}
		}
		&:nth-child(odd) {
			.item-title,
			.item-text {
				@media only screen and (min-width: $gridBreakpoint) {
					padding-right: pxToRem(25);
				}
				float: right;
			}
		}
		
	}

	.columns {
		img {
			max-width: 100%;	
		}
		margin-bottom: pxToRem(20);
		@media only screen and (min-width: $gridBreakpoint) {
			margin-bottom: pxToRem(40);
		}
		&.center {
			text-align: center;
		}
	}
}

#projects .columns p + div[data-picture] {
	margin-top: pxToRem(30);
	@media only screen and (min-width: $gridBreakpoint) {
		margin-top: pxToRem(60);
		margin-bottom: pxToRem(40);
	}
}



/*
*  Breakpoint - Bigger than "mobile"
*/

@media only screen and (min-width: $biggerThanMobileBreakpoint) {
  
  header #logo {
		padding: 8px 26px 2px 20px;
  
  	img {
			width: 34px;
			height: 44px;
		}
  }

  header nav {
	  margin-left: pxToRem(80);
	  line-height: pxToRem(58);
	}


  #main #home-logo {
		margin-bottom: pxToRem(50);
  }

  #main h1 {
		margin-bottom: pxToRem(50);
  }

	#projects h1 {
		font-size: pxToRem(14);
	}
}


/*
*  Breakpoint - Bigger than 960 grid - lock it down!
*/
@media only screen and (min-width: pxToEm(961)) {
	.wrapper {
		max-width: pxToRem(960);
		margin: 0 auto;
	}
	header .wrapper,
	nav.projects-nav .wrapper {
		@include box-sizing(border-box);
		border-left: 1px dotted #c9c9c9;
		border-right: 1px dotted #c9c9c9;
	}
	header nav a {
		width: 33.28%;
	}
}
